#tools {
  display: flex;
  flex-direction: row;
}

.menu-button {
  margin: 5px;
  border-style: solid;
  background-color: #c9fffe;
  border-radius: 20px;
}

.menu-button:hover {
  background-color: #74d1ed;
}

.clicked {
  background-color: #1ebbeb;
}

.sidebar {
  width: 40%;
  background-color: #c9fffe;
  margin: 25px;
  padding: 25px;
  padding-top: 20px;
  margin-top: 0px;
  border-radius: 25px;
}

.sidebar-contents {
  display: flex;
  flex-direction: column;
}

.map_button {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 20px;
  font-size: 20pt;
}

.date-slider {
  width: 100%;
}